.rob-tit {
  font: 900 1rem 'Roboto', sans-serif;
}

.rob-par {
  font: 500 2rem 'Roboto', sans-serif;
}

.pop-sub {
  font: 300 2rem 'Poppins', sans-serif;
}

.pop-par {
  font: 500 1.75rem 'Poppins', sans-serif;
}
