.header-bg {
  background-color: #f6f6f6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: block;
}

.header-block {
  width: 100%;
  height: 120px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.header-links {
  display: flex;
  gap: 40px;
}

.header-links a {
  text-decoration: none;
  color: #2e1717;
  font-weight: bold;
}

.header-links a:hover {
  color: #d10b06;
}

.menu-services::after {
  content: '+';
  margin-left: 5px;
  color: #741e1b;
}

.header-links-social {
  display: flex;
  gap: 20px;
}

@media (max-width: 760px) {
  .header-block {
    height: 180px;
  }
}

@media (max-width: 700px) {
  .header {
    place-content: center;
  }
  .header-links {
    gap: 20px;
  }
  .header-links a {
    justify-self: center;
    background: #dbdbdb;
    padding: 4px 8px;
    border-radius: 8px;
  }
  .menu-services {
    display: none;
  }
  .header-links-social {
    display: none;
  }
  .header-block {
    height: 125px;
  }
}

@media (max-width: 580px) {
  .header-block {
    height: 160px;
  }
}

@media (max-width: 470px) {
  .header {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-links {
    gap: 10px;
  }
}
